:root {
    --softRed: #b96363;
    --softBlue: rgb(94, 94, 141);
}

body {
    min-width: 360px;
    background-color: white;
}

.encabezado__imagen {
    padding-top: 30px;
    text-align: center;
}

.encabezado__imagen img {
    width: 600px;
}

#btnControl,label img {
    display: none;
}

.encabezado__menu {
    margin: 0 auto;
    display: block;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid silver;
    z-index: 1000;
}

.menu__lista {
    list-style: none;
}

.menu__lista li {
    display: block;
    float: left;
    padding: 10px 0px;
}

.menu__lista li:hover {
    background-color: var(--softRed);
}


.menu__lista a {
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    color: #111111fd;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.menu__lista a:hover {
    color: white;
}

.active {
    background-color: var(--softRed) !important;
}

.active a {
    color: white;
}

.contenedor__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--softBlue);
    padding: 30px 0;
    font-family: sans-serif;
    border-radius: 0px 0px 0px 0px;
}

.footer__contacto h4 {
    color: black;
}

.contacto__lista {
    list-style: none;
}

.contacto__lista li h5{
    color: black;
}

.contacto__lista--email {
    color:rgb(0, 0, 189);
}

.contacto__lista--redes {
    margin-bottom: 15px;
}

.contacto__lista--mapa{
    margin: 10px 0;
}

.contacto__lista--mapa a img{
    border: 1px solid black;
}

.footer__informacion {
    color: black;
}

.footer__informacion h4 {
    color: black;
}

.footer__informacion a {
    color: rgb(0, 0, 189);
}


.copyright {
    background-color: black;
    padding: 15px 0;
}

.copyright p {
    text-align: center;
    color: white;
}

@media (max-width: 360px) {
    .encabezado__menu input{
        display: none;
    }
    
    label {
        width: 100%;
    }

    label img {
        display: block;
        width: 10%;
        padding: 5px 0 5px 10px;
    }
        
    #btnControl:checked + label > .menu__lista {
        display: block;
    }

    .menu__lista {
        display: none;
    }

    .menu__lista li{
        float: none;
        padding: 10px 0px;
    }

    .encabezado__imagen img {
        width: 360px;
    }
}
