.articulo1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: #2b2b2bfd;
}

.articulo1__imagen {
    width: 40vw;
    background-image: url(../img/nosotros.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right center;
    background-color: white;
}

.articulo1__empresa {
    width: 50vw;
    padding: 4% 0 0 4%;
    text-align: justify;
    font-size: 1.5vw;
}

.articulo1__empresa p {
    padding: 30px 0;
    font-family: serif;
}

.articulo2 {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.articulo2__historia {
    display: inline-block;
    margin-top: 30px;
    border-bottom: 1px solid silver
}

.articulo2__historia h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2vw;
    color: #2b2b2bfd;
    text-align: center;
}

.articulo2__historia p {
    display: inline-block;
    width: 25%;
    margin: 7% 5% 0 20%;
    font-family: serif;
    font-size: 2vw;
    color: #2b2b2bfd;
    vertical-align: bottom;
}

.articulo2__imagen {
    display: inline-block;
    width: 25vw;
    margin: 50px 0;
}

.articulo2__imagen img {
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 420px) {
    .articulo2 {
        height: 300px;
    }
    
    .articulo2__historia p {
        display: block;
        width: 100%;
        margin: 40px auto 0 auto;
        padding-bottom: 20px;
        font-size: 25px;
        text-align: center;
        border-bottom: 1px solid silver;
    }

    .articulo2__imagen {
        display: none;
    }

    .articulo2__historia {
        border-bottom: none;
    }

    .articulo1 {
        display: block;
    }

    .articulo1__imagen {
        width: 100vw;
        height: 300px;
        background-image: url(../img/nosotros.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center center;
        background-color: white;
    }

    .articulo1__empresa {
        width: 100vw;
        padding: 0 30px;
        text-align: justify;
        font-size: 22px;
    }

    .articulo1__empresa p {
        margin: 0 auto;
        width: 100%;
        font-family: serif;
    }
}