.articulo {
    margin: 50px 100px;
    color: #2b2b2bfd;
    font-family: serif;
    font-size: 1.5vw;
}

.articulo__descripcion {
    font-family: serif;
    padding-bottom: 40px;
    border-bottom: 1px solid silver; 
}

.articulo__servicios {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px 50px;
}

.articulo__servicios h3 {
    text-align: center;
}

.articulo__servicios div .descripcion {
    text-align: justify;
}

.servicios__mip {
    grid-column: 1/3;
}

.servicios__mip .contenedor__servicio {
    display: flex;
    justify-content: center;
}

.servicios__mip div .descripcion {
    width: 35vw;
    margin-top: 90px;
    line-height: 30px;
}

.servicios__capacitacion p, .servicios__utensilios p, .servicios__reparacion p, .servicios__promocion p, i, b{
    margin: 10px;
}

i, b {
    font-size: 14px !important;
}

.imagen {
    overflow: hidden;
    margin: 20px 0 10px 0;
}

.imagen img {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 150px;
}

.servicios__mip .imagen img {
    height: 280px !important;
}

@media (max-width: 420px) {
    .articulo__servicios {
        display: flex;
        flex-wrap: wrap;
    }

    .servicios__mip {
        grid-column: none;
    }
    
    .servicios__mip .contenedor__servicio {
        display: block;
    }
    
    .servicios__mip div .descripcion {
        width: 80vw;
        margin: 10px;
        font-size: 20px;
    }

    .articulo__servicios div .descripcion {
        font-size: 20px;
        text-align: center;
        line-height: 21px;
        border-bottom: 1px solid silver;
        padding-bottom: 10px;
    }

    .articulo {
        margin: 30px 5vw;
    }
    
    .articulo__descripcion {
        font-size: 22px;
        padding-bottom: 40px;
        border-bottom: 1px solid silver; 
    }
}